<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Master</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/timeline.css">
</head>

<body>
    <div id="page-wrap">
        <!-- App heading and description -->
        <h1 id="app-heading">
            <i class="fas fa-tasks"></i>
            Task Master
        </h1>
        <p id="app-description">Plan your day, Get the job done, Be productive</p>
        <br> 

        <!-- ToDo List -->
        <div id="todolist-container">

            <div class="task-container">
                <div class="vertical-line"></div>
                <label class="check-container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="task-description">Buy grocery from market</span>
                    <div class="other-properties">
                        <span class="due-date">
                            <i class="fas fa-calendar-alt"></i> 
                            JAN 16, 2022   
                        </span>
                        &nbsp; &nbsp;
                        <span class="task-category">Home</span>
                    </div>
                </label>
                <div class="delete-button">
                    <a href="">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>

            <div class="task-container">
                <div class="vertical-line"></div>
                <label class="check-container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="task-description">Buy grocery from market</span>
                    <div class="other-properties">
                        <span class="due-date">
                            <i class="fas fa-calendar-alt"></i> 
                            JAN 16, 2022   
                        </span>
                        &nbsp; &nbsp;
                        <span class="task-category">Home</span>
                    </div>
                </label>
                <div class="delete-button">
                    <a href="">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>

            <div class="task-container">
                <div class="vertical-line"></div>
                <label class="check-container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="task-description">Buy grocery from market</span>
                    <div class="other-properties">
                        <span class="due-date">
                            <i class="fas fa-calendar-alt"></i> 
                            JAN 16, 2022   
                        </span>
                        &nbsp; &nbsp;
                        <span class="task-category">Home</span>
                    </div>
                </label>
                <div class="delete-button">
                    <a href="">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>  

       <div id="add-task">
            <img src="add-task-icon.png" alt="add task icon">
       </div>

    </div>

    <!-- Custom javascript -->
    <script type='text/javascript' src="/js/home.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>